body{
    width: 1400px;
    padding: 5px;
    margin: auto;
color:  #1f3c88;
padding: 24px;
background-image:linear-gradient(to right, #F2F2F2, #8C8B8B) ;

}

main{
background-color: #D9D9D9;
border-radius: 5px;
 padding: 20px;
margin: auto;
}

h1{
text-align: center;
color: #ffffff;
border-radius: 4px;
padding: 12px;
font-size: 2.5em;
background-color: #1f3c88;
}


h2{
text-align: center;
color: #ffffff;
border-radius: 4px;
padding: 12px;
font-size: 2.5em;
background-color: #1f3c88;
}



h3{
font-size: 1.5em;
font-family: 'Montserrat', sans-serif;
margin-top: 19px;
color: #1f3c88;

}

h4{
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5em;
background-color: #1f3c88;
padding: 12px;
border-radius: 10px;
color: #ffffff;
}

.teste{
    margin-bottom: 19px;
}


p{
font-family:Arial, Helvetica, sans-serif;
font-size: 1em;
margin: 10px;
color: #333333;
}

ul{
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;
margin: 8px;
margin-top: 20px;
color: #1d1c1c;
}

li{
    margin-top: 19px;
}

strong{
color: #0d0d01;
}

.mark{
color: #1f3c88;
}

.imagem1{
    width: 300px;
    height: auto;
    border-radius: 8px;
    display: flex; 
    align-items: center;
    gap: 20px;
    max-width: 1000px;
}

.seta1{

right: 45%;
position: absolute;
width: 80px;
height: auto;
color: #1f3c88 ;
}